:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

  footer p {
    margin-bottom: .25rem;
  }

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


ul.dropdown-cart {
  min-width: 250px;
}

.SelectedProductImage{
    width:20px;
    height:20px;
}
.dropdown-menu {
  position: absolute;
}
ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}

    ul.dropdown-cart li .item:hover {
      background-color: #f3f3f3;
    }

    ul.dropdown-cart li .item:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

  ul.dropdown-cart li .item-left {
    float: left;
  }

    ul.dropdown-cart li .item-left img,
    ul.dropdown-cart li .item-left span.item-info {
      float: left;
    }

    ul.dropdown-cart li .item-left span.item-info {
      margin-left: 10px;
    }

      ul.dropdown-cart li .item-left span.item-info span {
        display: block;
      }

  ul.dropdown-cart li .item-right {
    float: right;
  }

    ul.dropdown-cart li .item-right button {
      margin-top: 14px;
    }
