<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/ProductList" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Welcome, {{ userName }}</strong>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{ AddedToCart }} - Item(s)<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
            <li *ngFor="let item of selectedProducts; let i = index">
              <span class="item">
                <span class="item-left">
                  <img class="SelectedProductImage" src="{{ item.image }}" alt="" />
                  <span class="item-info">
                    <span>{{ item.name }}</span>
                    <span>{{ item.price }}$</span>
                  </span>
                </span>
                <span class="item-right">
                  <button class="btn btn-xs btn-danger pull-right" (click)="DeleteProduct(item.id)">x</button>
                </span>
              </span>
            </li>
            <li class="divider"></li>
            <li><a class="text-center" href="javascript:void(0)" (click)="RedirectToOrder()">Review Order</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div *ngFor="let item of products; let i = index" class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" data-src="{{ item.image }}" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17b5e309385%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17b5e309385%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">{{item.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p type="text" class="card-text">{{ item.category }}</p><br />
                </div>
                <small class="text-muted">{{ item.price }} $</small>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="AddToCart(item)">Add to cart</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="javascript:void(0)" (click)="disconnect()"> Disconnect </a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
  </div>
</footer>
<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
